/*************************************************************************/
                            /* IMPORTS */
/*************************************************************************/


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
/* font-family: 'JetBrains Mono', monospace; */


/*************************************************************************/
                           /* VARIABLES */
/*************************************************************************/


:root {


  /* COLORS */
  --very-dark-grey: hsl(248, 15%, 11%);
  --dark-grey: hsl(248, 10%, 15%);
  --grey: hsl(251, 9%, 53%);
  --almost-white: hsl(252, 11%, 91%);
  --neon-green: hsl(127, 100%, 82%);
  --yellow: hsl(42, 91%, 68%);
  --orange: hsl(13, 95%, 66%);
  --red: hsl(0, 91%, 63%);

  /* FONTS */
  --main-font-family: 'JetBrains Mono', monospace;


}


/*************************************************************************/
                          /* MAIN STYLES */
/*************************************************************************/


/* html */
html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* body */
.main-container {
  font-family: var(--main-font-family);
  font-weight: 700;
  background-color: var(--very-dark-grey);
  color: var(--almost-white);
}


/* Main Content Container */
.main-content-container {
  width: 21.4375rem;
  margin: 1rem auto 0rem auto;
}


/* h1 */
.main-headline {
  margin-top: 4rem;
  line-height: 1.3125rem;
  color: var(--grey);
  text-align: center;
}


/* Password Container */
.password-container {
  height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Password Container Copy */
.password-container-copy {
  font-size: 1.5rem;
  line-height: 2rem;
}


/* Icon Copy */
.icon-copy {
  width: 1.09375rem;
  height: 1.25rem;
  background-image: url(../assets/images/icon-copy.svg);
  background-size: cover;
}


/* Password Generator Container */
.password-generator-container {
  padding: 1rem;
  background-color: var(--dark-grey);
}


/* Character Length Container */
.char-length-container {
  height: 4.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Character Length Copy Container */
.char-length-copy-container {
  height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Character Length Copy */
.char-length-copy {
  line-height: 1.3125rem;
}


/* Character Length value */
.char-length-value {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--neon-green);
}


/* Character Length Slider */
.char-length-slider {
  /* min-width: 100%; */
  height: 1.75rem;
  display: flex;
  align-items: center;
}


/* Character Length Slider Input */
.char-length-slider input[type="range"] {
  -webkit-appearance: none;
  /* background: rgba(255, 255, 255, 0.6); */
  /* background-image: linear-gradient(var(--neon-green) var(--neon-green)); */
  background-size: 50% 50%;
  width: 100%;
  height: 0.5rem;
  border: none;
  outline: none;
}

.char-length-slider input[type="range"]::-webkit-slider-runnable-track {
  appearance: none !important;
  background-color: var(--neon-green); 
  height: 0.5rem;
  line-height: 1.75rem;  
  /* -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent; */
}


.char-length-slider input[type="range"]::-webkit-slider-thumb {
  width: 1.75rem;
  height: 1.75rem;
  background-color: white;
}


/* Password Options Container */
.password-options-container {
  height: 8.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Password Strength Container */
.password-strength-container {
  height: 3.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Generate Button */
.generate-button {
  height: 3.5rem;
  background-color: var(--neon-green);
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}