/*************************************************************************/
                            /* IMPORTS */
/*************************************************************************/


/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
/* font-family: 'JetBrains Mono', monospace; */


/*************************************************************************/
                           /* VARIABLES */
/*************************************************************************/


:root {


  /* COLORS */
  --very-dark-grey: hsl(248, 15%, 11%);
  --dark-grey: hsl(248, 10%, 15%);
  --grey: hsl(251, 9%, 53%);
  --almost-white: hsl(252, 11%, 91%);
  --neon-green: hsl(127, 100%, 82%);
  --yellow: hsl(42, 91%, 68%);
  --orange: hsl(13, 95%, 66%);
  --red: hsl(0, 91%, 63%);

  /* FONTS */
  --main-font-family: 'JetBrains Mono', monospace;


}


/*************************************************************************/
                          /* MAIN STYLES */
/*************************************************************************/


/* html */
html {
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


/* body */
.main-container {
  font-family: var(--main-font-family);
  font-weight: 700;
  background-color: var(--very-dark-grey);
  color: var(--almost-white);
}


/* Main Content Container */
.main-content-container {
  width: 21.4375rem;
  margin: 1rem auto 0rem auto;
}


/* h1 */
.main-headline {
  margin-top: 4rem;
  line-height: 1.3125rem;
  color: var(--grey);
  text-align: center;
}


/* Password Container */
.password-container {
  height: 4rem;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 1rem;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Password Container Copy */
.password-container-copy {
  font-size: 1.5rem;
  line-height: 2rem;
}


/* Icon Copy Container */
.icon-copy-container {
  display: flex;
  align-items: center;
}


/* Coppied Text */
.coppied-text {
  margin-right: 1rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--neon-green);
  display: none;
}


/* Icon Copy */
.icon-copy {
  width: 1.09375rem;
  height: 1.25rem;
  background-image: url(../assets/images/icon-copy.svg);
  background-size: cover;
}


/* Password Generator Container */
.password-generator-container {
  padding: 1rem;
  background-color: var(--dark-grey);
}


/* Character Length Container */
.char-length-container {
  height: 4.1875rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Character Length Copy Container */
.char-length-copy-container {
  height: 1.9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Character Length Copy */
.char-length-copy {
  line-height: 1.3125rem;
}


/* Character Length value */
.char-length-value {
  font-size: 1.5rem;
  line-height: 2rem;
  color: var(--neon-green);
}


/* Character Length Slider */
.char-length-slider {
  /* min-width: 100%; */
  height: 1.75rem;
  display: flex;
  align-items: center;
}


/* Character Length Slider Input */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(90deg, var(--neon-green) 50%, var(--almost-white) 50%);
  width: 100%;
  height: 0.5rem;
  border: none;
  outline: none;
}


/* Character Length Slider Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background-color: var(--almost-white);
}


/* Password Options Container */
.password-options-container {
  height: 8.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Options Label */
.options-label {
  line-height: 1.3125rem;
  display: grid;
  grid-template-columns: 1.25rem auto;
  gap: 1.25rem;
}


/* Input[type="checkbox"] */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: var(--dark-grey);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.25rem;
  height: 1.25rem;
  border: 0.125rem solid var(--almost-white);
  display: grid;
  place-content: center;
}


/* Input[type="checkbox"]::before */
input[type="checkbox"]::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  transform: scale(0);
  transition: 150ms transform ease-in-out;
  background-color: var(--neon-green);
  background-image: url(../assets/images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


/* Input[type="checkbox"]:checked::before */
input[type="checkbox"]:checked::before {
  transform: scale(1);
}


/* Password Strength Container */
.password-strength-container {
  height: 3.5rem;
  margin-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: var(--very-dark-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Strength Copy */
.strength-copy {
  text-transform: uppercase;
  line-height: 1.3125rem;
  color: var(--grey);
}


/* Strength Chart Container */
.strength-chart-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Strength Chart Copy */
.strength-chart-copy {
  font-size: 1.125rem;
  line-height: 1.5rem;
}


/* Strength Chart */
.strength-chart {
  height: 1.75rem;
  margin-left: 1rem;
  display: grid;
  grid-template-columns: 0.625rem 0.625rem 0.625rem 0.625rem;
  gap: 0.5rem;
}


/* Bar */
.bar {
  border: 0.125rem solid var(--almost-white);
}


/* Too Weak Strength */
.too-weak-str {
  border: none;
  background-color: var(--red);
}


/* Weak Strength */
.weak-str {
  border: none;
  background-color: var(--orange);
}


/* Medium Strength */
.med-str {
  border: none;
  background-color: var(--yellow)
}


/* Strong Strength */
.strong-str {
  border: none;
  background-color: var(--neon-green);
}


/* Generate Button */
.generate-button {
  height: 3.5rem;
  background-color: var(--neon-green);
  color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Generate Button Copy */
.generate-btn-copy {
  text-transform: uppercase;
  line-height: 1.3125rem;
}


/* Icon Arrow Right */
.icon-arrow-right {
  width: 0.694375rem;
  height: 0.75rem;
  margin-left: 1rem;
  background-image: url(../assets/images/icon-arrow-right.svg);
}


/*************************************************************************/
                          /* MEDIA QUERIES */
/*************************************************************************/


/* Tablet */
/* 768px iPad mini */
@media screen and (min-width: 768px) {


    /* h1 */
  .main-headline {
    margin-top: 8.3125rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }


  /* Main Content Container */
  .main-content-container {
    width: 33.75rem;
    margin: 1.9375rem auto 0rem auto;
  }


  /* Password Container */
  .password-container {
    height: 5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 1.5rem;
  }


  /* Password Container Copy */
  .password-container-copy {
    font-size: 2rem;
    line-height: 2.625rem;
  }


  /* Icon Copy */
  .icon-copy {
    width: 1.3125rem;
    height: 1.5rem;
  }


  /* Password Generator Container */
  .password-generator-container {
    padding: 1.5rem 2rem 2rem 2rem;
  }


  /* Character Length Container */
  .char-length-container {
    height: 5.4375rem;
  }


  /* Character Length Copy Container */
  .char-length-copy-container {
    height: 2.6875rem;
  }


  /* Character Length Copy */
  .char-length-copy {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }


  /* Character Length value */
  .char-length-value {
    font-size: 2rem;
    line-height: 2.625rem;
  }


  /* Password Options Container */
  .password-options-container {
    height: 9.5rem;
  }


  /* Options Label */
  .options-label {
    font-size: 1.125rem;
    line-height: 1.5rem;
    gap: 1.5rem;
  }  


  /* Password Strength Container */
  .password-strength-container {
    height: 4.5rem;
    margin-bottom: 2rem;
    padding-right: 1.96875rem;
    padding-left: 2rem;
  }


  /* Strength Copy */
  .strength-copy {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }


  /* Strength Chart Copy */
  .strength-chart-copy {
    font-size: 1.5rem;
    line-height: 2rem;
  }


  /* Generate Button */
  .generate-button {
    height: 4.0625rem;
  }


  /* Generate Button Copy */
  .generate-btn-copy {
    font-size: 1.125rem;
    line-height: 1.5rem;
  }
 

}


/* Laptop/Desktop */
/* 1280px */
@media screen and (min-width: 1280px) {


  /* Active State */


  /* Icon Copy */
  .icon-copy:hover {
    cursor: pointer;
    background-image: url(../assets/images/icon-copy-hover.svg);
  }


  /* Character Length Slider Thumb */
  input[type="range"]::-webkit-slider-thumb:hover {
    cursor: pointer;
    background-color: var(--very-dark-grey);
    border: 2px solid var(--neon-green);
  }


  /* Input[type="checkbox"] */
  input[type="checkbox"]:hover {
    cursor: pointer;
    border-color: var(--neon-green);
  }


  


}